@import "../../../node_modules/bulma/bulma.sass";

$appBorder: 1px solid hsl(0, 0%, 96%);
$dragDropBorder: 1px solid rgba(0,0,0,0.25);

.unlv-oe-drag-drop {
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: $appBorder;
  background: #fff;

  * {
    box-sizing: border-box;
  }
  
  li.draggable {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 .5rem .5rem 0;
    padding: 0;
    border-radius: 2px;
    border: $dragDropBorder;
    cursor: move;

    &:active {
      cursor: grabbing;
    }
    
    .title {
      font-size: 1rem;
      font-weight: normal;
      padding-right: 2.75rem;
      margin: .5rem 0 .25rem;
    }

    p {
      font-size: 0.875rem;
      padding: 0.25rem 1rem;
    }

    img {
      max-width: 100px;
      display: block;
      margin: 0 auto;
    }

    .dropdown {
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;

      button.dropdown-toggle {
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.75rem;
        height: 1.75rem;
        padding: 0 0.5rem;
      }

      .dropdown-menu {
        min-width: 0;
      }

    }

    img + p {
      border-top: $dragDropBorder;
    }

  }
  
  .drop-group {
    margin-bottom: 1.5rem;
    border: $dragDropBorder;
    border-radius: 2px;
    padding: 1rem;
  
    .header {
  
      h1 {
        font-size: 1rem;
        margin: 0 0 0.5rem;
      }
    
      img {
        max-width: 100px;
        display: block;
      }
  
    }
  
    ul.drop-list {
      display: block;
      padding: 3rem 1rem 0.5rem;
      margin: -3rem -1rem -1rem;
      min-height: 3rem;
    }
  
  }
  
  footer {
    border-top: $appBorder;
  
    .score {
      font-weight: 900;
      font-size: 1.5rem;
      margin-right: 1rem;
      vertical-align: middle;
    }
  
    progress.progress {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      margin: 0 1rem 0 0;
      vertical-align: middle;
    }
  
  }

}